HERMES_MAX_ITERATIONS=<REDACTED_SECRET>
TELEGRAM_BOT_TOKEN=<REDACTED_SECRET>
TELEGRAM_ALLOWED_USERS=<REDACTED_SECRET>
TELEGRAM_HOME_CHANNEL=<REDACTED_SECRET>
TELEGRAM_PROXY=<REDACTED_SECRET>
TAVILY_API_KEY=<REDACTED_SECRET>
GLM_API_KEY=<REDACTED_SECRET>
GLM_BASE_URL=<REDACTED_SECRET>
OPENROUTER_API_KEY=<REDACTED_SECRET>
MINIMAX_CN_API_KEY=<REDACTED_SECRET>
DEEPSEEK_API_KEY=<REDACTED_SECRET>

API_SERVER_ENABLED=<REDACTED_SECRET>
API_SERVER_KEY=<REDACTED_SECRET>

SILICONFLOW_API_KEY=<REDACTED_SECRET>
SILICONFLOW_BASE_URL=<REDACTED_SECRET>

LITELLM_BASE_URL=<REDACTED_SECRET>
LITELLM_API_KEY=<REDACTED_SECRET>
